<div class="search">
    <div class="condition-wrapper layui-nav-item">
        <div class="layui-inline">
            <label class="customerNumber">客户编码:</label>
            <div class="layui-input-inline">
                <input name="ctl00$content$txtCode" type="text" id="content_customerNumber" placeholder="请输入客户编码"  class="input_box1" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="orderNumber">客户名称:</label>
            <div class="layui-input-inline">
                <input name="ctl00$content$txtCardNo" type="text" id="content_customerName" placeholder="请输入客户名称"  class="input_box1" maxlength="8" onkeyup="value=value.replace(/[^\w\.\/]/ig,&#39;&#39;)" />
            </div>
        </div>
        <div class="layui-input-inline" >
            <label>客户类型:</label>
            <div class="layui-input-inline">
                <input type="text" name="customer_catogory" id="customer_catogory" lay-verify="required" placeholder="请输入客户类型" autocomplete="off" class="order-number-input">
            </div>
        </div>
        <div class="layui-input-inline" style="margin-right: 80px">
            <label>信用等级:</label>
            <div class="layui-input-inline">
                <select name="creditRating" id="creditRating" lay-verify="required" placeholder="信用等级" class="order-number-input">
                    <option value="">请选择</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
        </div>
        <div class="layui-input-inline">
            <label>业务片区:</label>
            <div class="layui-input-inline">
                <select name="customer_name" lay-verify="required">
                    <option value="">请选择</option>
                    <option value="华东">华东</option>
                    <option value="华南">华南</option>
                    <option value="华西">华西</option>
                    <option value="华北">华北</option>
                    <option value="华中">华中</option>
                </select>
            </div>
        </div>
        <div class="layui-input-inline" style="margin-left: 30px">
            <label>业务员:</label>
            <div class="layui-input-inline">
                <select name="" lay-verify="required">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        &nbsp;
        <input name="ctl00$content$btnFind" type="submit" id="content_btnFind" value="查询" class="btn btn-primary" />
        <button type="button" id="addCustomer1" class="btn btn-success">新增客户</button>
        <button id="customerExcelInDB" type="button" class="btn btn-info">导入客户</button>
        <button id="customerExcelToDB" type="button" class="btn btn-info" onclick="downloadExl(jsono)">导出客户</button>
        <button id="btnPrint" type="button" value="打印" class="btn btn-info">打印</button>
    </div>
</div>
<div>
    <table class="layui-hide" id="customer_list" lay-filter="mtable"></table>
</div>