<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>订单发货管理系统</title>
    <link href="../layui/css/layui.css" type="text/css" media="all" rel="stylesheet">
    <link href="../stylesheets/home.css" type="text/css" media="all" rel="stylesheet">
    <!--<link rel='stylesheet' href='../stylesheets/larryms.css' />-->
    <script src="../layui/layui.js"></script>
    <script type="text/javascript" src="javascripts/home_layui.js" ></script>
    <script src="../javascripts/jquery-3.3.1.min.js"></script>
    <script src="../layer/layer.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <header class="layui-header">
        <div class="home-logo"><img src="img/logo_erp.png" style="margin-right: 5px" />销售管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <div class="headNavigation">
            <ul class="layui-nav">
                <li class="layui-nav-item"><a href="/home">
                    <img src="img/logo_home.png" style="margin-right: 3px; margin-bottom: 5px;width: 30%;height: 80%" />主页</a>
                </li>
                <li class="layui-nav-item"><a href="javascript:"><img src="img/user.png" style="margin-right: 3px; margin-bottom: 5px;width: 20%;height: 70%" />用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">新增用户</a></dd>
                        <dd><a href="">角色权限</a></dd>
                        <dd><a href="">用户列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:"><i class="layui-icon" style="margin-right: 3px; font-size: 20px; color: #FFFFFF;">&#xe631;</i>数据管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">数据备份</a></dd>
                        <dd><a href="">导入备份</a></dd>
                        <dd><a href="">导出备份</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:"><i class="layui-icon" style="margin-right: 3px; font-size: 20px; color: #FFFFFF;">&#xe620;</i>其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item login_success">
                    <a href="javascript:"><img src="../img/userlogo.jpg" class="layui-nav-img"><%= realname %></a>
                    <dl class="layui-nav-child">
                        <dd><a href="user">个人中心</a></dd>
                        <dd><a href="changePassword">修改密码</a></dd>
                        <dd><a href="/">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </header>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item" id="order_item"><a href="javascript:void(0);">
                    <i class="layui-icon" style="margin-right: 1px; font-size: 22px; color: #FFFFFF;">&#xe60a;</i>订单管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="page/order_search.html">
                            <i class="layui-icon" style="margin-left: 10px; font-size: 15px; color: #FFFFFF;">&#xe615;</i>订单查询</a>
                        </dd>
                        <dd><a id="addOrder" href="javascript:void(0);">
                            <i class="layui-icon" style="margin-left: 10px; font-size: 15px; color: #FFFFFF;">&#xe654;</i>新增订单</a>
                        </dd>
                        <dd><a  href="javascript:void(0);">
                            <i class="layui-icon" style="margin-left: 10px; font-size: 15px; color: #FFFFFF;">&#xe63c;</i>订单列表</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item" ><a href="javascript:void(0);">
                    <img src="img/customer_manager.png" style="margin-right: 3px;width: 12%;height: 40%" />客户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a id="customer_item" href="javascript:void(0);">
                            <i class="layui-icon" style="margin-left: 10px; font-size: 15px; color: #FFFFFF;">&#xe654;</i>新增客户</a>
                        </dd>
                        <dd><a href="">
                            <i class="layui-icon" style="margin-left: 10px; font-size: 15px; color: #FFFFFF;">&#xe613;</i>客户列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" id="product_item"><a  href="javascript:void(0);">
                    <img src="img/manufacturing_manager.png" style="margin-right: 3px;width: 12%;height: 40%"/>产品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a id="add_product" href="javascript:void(0);">
                            <i class="layui-icon" style="margin-left: 10px; font-size: 15px; color: #FFFFFF;">&#xe654;</i>新增牌号</a>
                        </dd>
                        <dd><a href="">
                            <img src="img/manufacturing_list.png" style="margin-left: 6px;width: 13%;height: 50%">产品列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" id="manufacturing_item"><a  href="javascript:void(0);"><img src="img/manufacturing.png" style="margin-right: 3px;width: 13%;height: 45%"/>生产管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="page/order_search.html">
                            <img src="img/add_manufacturing.png" style="margin-left: 10px;width: 10%;height: 50%">新增产量</a>
                        </dd>
                        <dd><a href="page/order.html">
                            <img src="img/fahuoqingdan.png" style="margin-left: 10px;width: 12%;height: 50%">生产数据</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item" id="delivery _item"><a  href="javascript:void(0);"><img src="img/deliver_goods1.png" style="width: 15%;height: 50%"/>发货管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="page/order_search.html">
                            <i class="layui-icon" style="margin-left: 10px; font-size: 15px; color: #FFFFFF;">&#xe654;</i>新增发货</a>
                        </dd>
                        <dd><a href="">
                            <img class="" src="img/fahuoqingdan.png" style="margin-left: 8px;width: 12%;height: 50%" />发货清单</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item" id="sales_item"><a  href="javascript:void(0);">
                    <img src="img/sale_manager.png" style="margin-bottom: 5px;width: 16%;height: 50%" />销售管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="page/order_search.html">
                            <i class="layui-icon" style="margin-left: 10px; font-size: 15px; color: #FFFFFF;">&#xe615;</i>待开发票订单</a>
                        </dd>
                        <dd><a href="">
                            <i class="layui-icon" style="margin-left: 10px; font-size: 15px; color: #FFFFFF;">&#xe654;</i>已开发票订单</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="head-info layui-bg-green" id="welcom_info">
            <div><img src="../img/userlogo.jpg" class="layui-nav-img"><%= realname %> 你好，欢迎使用销售管理系统。<span style="color: #f5e79e" id="welcomtime"></span>（我们将会实时更新新的模块，请随时关注）
                <i class="layui-icon closeinfo" id="close_info" onclick="javascript:turnoff('welcom_info')">&#x1006;</i>
            </div>
        </div>
        <div class="layui-row larry-shortcut layui-col-space15 information_panel" id="shortcut" style="margin-top: 15px">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col">
                <section class="shortcut layui-ico-rotate">
                    <a class="pos-r" data-url='' data-icon="">
                        <div class="larry-ico layui-bg-blue"><img src="img/unfinished_order.png" class="" /></div>
                        <div class="larry-value unfinished">
                            <span class="nums">100</span>
                            <cite>未完成订单</cite>
                        </div>
                    </a>
                </section>
            </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col information_panel">
                    <section class="shortcut pos-r layui-ico-rotate">
                        <a class="pos-r" data-url='' data-icon="larry-huiyuanguanli">
                            <div class="larry-ico layui-bg-green"><img src="img/daifahuo.png" class="" /></div>
                            <div class="larry-value unfinished">
                                <span class="nums">50</span>
                                <cite>待发货订单</cite>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 layui-col information_panel">
                    <section class="shortcut pos-r layui-ico-rotate">
                        <a class="pos-r" data-url='html/main.html' data-icon="larry-neirongfabu">
                            <div class="larry-ico layui-bg-purple"><img src="img/deliver_goods.png" class="" /></div>
                            <div class="larry-value unfinished">
                                <span class="nums">100</span>
                                <cite>发货数据</cite>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col information_panel">
                    <section class="shortcut pos-r layui-ico-rotate">
                        <a class="pos-r" data-url='html/main.html' data-icon="larry-zhanghuxinxi">
                            <div class="larry-ico layui-bg-cyan"><img src="img/shengchanshuju.png" class="" /></div>
                            <div class="larry-value unfinished">
                                <cite class="un-nums">生产数据</cite>
                            </div>
                        </a>
                    </section>
                </div>

            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col information_panel">
                <section class="shortcut pos-r layui-ico-rotate">
                    <a class="pos-r" data-url='html/persons.html' data-icon="larry-wsmp-setting">
                        <div class="larry-ico layui-bg-orange"><img src="img/sale_date.png" /></div>
                        <div class="larry-value unfinished">
                            <cite class="un-nums">销售数据</cite>
                        </div>
                    </a>
                </section>
            </div>
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col information_panel">
                <section class="shortcut pos-r layui-ico-rotate">
                    <a class="pos-r" data-url='html/menus.html' data-icon="larry-caidanguanli3"  data-id="larry-1006" data-group="0">
                        <div class="larry-ico layui-bg-red"><img src="img/fapiao.png" /></div>
                        <div class="larry-value unfinished">
                            <cite class="un-nums">发票数据</cite>
                        </div>
                    </a>
                </section>
            </div>
        </div>
        <footer class="layui-footer">
            <!-- 底部固定区域 -->
            <a href="http://www.rsson.cn" target="_blank"> © www.rsson.cn - 技术支持</a>
        </footer>
    </div>
</div>
<script>
    function turnoff(obj) {
        document.getElementById(obj).style.display="none";
    }
</script>
<script src="../javascripts/welcomtime.js"></script>
</body>
</html>