<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>订单发货管理系统</title>
    <link href="../layui/css/layui.css" type="text/css" media="all" rel="stylesheet">
    <link href="stylesheets/home.css" type="text/css" media="all" rel="stylesheet">
    <!--<link rel='stylesheet' href='bootstrap/css/bootstrap.css' />-->
    <script src="../layui/layui.js"></script>
    <script type="text/javascript" src="javascripts/home_layui.js" ></script>
    <script src="javascripts/jquery-3.3.1.min.js"></script>
    <script src="layer/layer.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="home-logo">销售管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <div class="headNavigation">
            <ul class="layui-nav">
                <li class="layui-nav-item"><a href="">
                    <i class="layui-icon" style="margin-right: 3px; font-size: 22px; color: #FFFFFF;">&#xe68e;</i>控制台</a></li>
                <li class="layui-nav-item"><a href="">用户管理</a></li>
                <li class="layui-nav-item"><a href="javascript:">数据管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">数据备份</a></dd>
                        <dd><a href="">导入备份</a></dd>
                        <dd><a href="">导出备份</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:"><i class="layui-icon" style="margin-right: 3px; font-size: 20px; color: #FFFFFF;">&#xe620;</i>其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item login_success">
                    <a href="javascript:;"><img src="img/userlogo.jpg" class="layui-nav-img"><%= realname %></a>
                    <dl class="layui-nav-child">
                        <dd><a href="user">个人中心</a></dd>
                        <dd><a href="changePassword">修改密码</a></dd>
                        <dd><a href="/">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item" id="order_item"><a href="javascript:void(0);">订单管理</a></li>
                <li class="layui-nav-item"   id="customer_item" ><a href="javascript:void(0);">客户管理</a></li>
                <li class="layui-nav-item" id="product_item"><a  href="javascript:void(0);">产品管理</a></li>
                <li class="layui-nav-item" id="manufacturing_item"><a  href="javascript:void(0);">生产管理</a></li>
                <li class="layui-nav-item" id="delivery _item"><a  href="javascript:void(0);">发货管理</a></li>
                <li class="layui-nav-item" id="sales_item"><a  href="javascript:void(0);">销售管理</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="search">
                <div class="condition-wrapper layui-nav-item">
                    <div class="layui-inline">
                        <label class="startDate">起始日期:</label>
                        <div class="layui-input-inline">
                            <input class="input_box" id="startDate" placeholder="yyyy-mm-dd" type="text">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="endDate">结束日期:</label>
                        <div class="layui-input-inline">
                            <input class="input_box" id="endDate" placeholder="yyyy-mm-dd" type="text">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="customerName">客户名称:</label>
                        <div class="layui-input-inline">
                            <input name="ctl00$content$txtCode" type="text" id="content_txtCode" placeholder="客户名称"  class="input_box1" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="orderNumber">订单号:</label>
                        <div class="layui-input-inline">
                            <input name="ctl00$content$txtCardNo" type="text" id="content_txtCardNo" placeholder="合同编号"  class="input_box1" maxlength="8" onkeyup="value=value.replace(/[^\w\.\/]/ig,&#39;&#39;)" />
                            &nbsp;
                        </div>
                    </div>
                    &nbsp;
                    <input name="ctl00$content$btnFind" type="submit" id="content_btnFind" value="查询" class="btn btn-primary" />
                    <button type="button" id="addOrder" class="btn btn-success">新增订单</button>
                    <button id="btnExcelInDB" type="button" class="btn btn-info">导入订单</button>
                    <button id="btnExcelToDB" type="button" class="btn btn-info" onclick="downloadExl(jsono)">导出订单</button>
                    <button id="btnPrint" type="button" value="打印" class="btn btn-info">打印</button>
                </div>
        </div>
        <div style="padding: 0px;">
            <table class="layui-hide" id="data_table" lay-filter="mtable"></table>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
       <a href="http://www.rsson.cn" target="_blank"> © www.rsson.cn - 技术支持</a>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    $(function () {
        $("#btnExcelInDB").click(function () {
            var $ = layui.jquery;
            var that = this;
            layer.open({
                type: 2 //此处以iframe举例
                , title: '支持后缀名为.xls、.xlsx的Excel模板导入'
                , area: ['600px', '360px']
                , shade: 0
                , maxmin: true
                , offset: [ //为了演示，随机坐标
//                    Math.random() * ($(window).height() - 300)
//                    , Math.random() * ($(window).width() - 390)
                    100,400
                ]
                , content: 'excelindb'
//                , btn: ['关闭'] //只是为了演示
//                , yes: function () {
//                    layer.closeAll();
//                }

                , zIndex: layer.zIndex //重点1
                , success: function (layero) {
                    layer.btnExcelInDB(layero); //重点2
                }
            });

            $('#layerDemo .layui-btn').on('click', function () {
                var othis = $(this), method = othis.data('method');
                active[method] ? active[method].call(this, othis) : '';
            });
        });

        $("#addOrder").click(function () {
            var $ = layui.jquery;
            var that = this;
            layer.open({
                type: 2 //此处以iframe举例
                , title: '新增订单'
                , area: ['800px', '600px']
                , shade: 0
                , maxmin: true
                , offset: [ //为了演示，随机坐标
//                    Math.random() * ($(window).height() - 300)
                    30,
//                    , Math.random() * ($(window).width() - 390)
                ]
                , content: 'add_order'
//                , btn: [''] //只是为了演示
//                , yes: function () {
//                    layer.closeAll();
//                }

                , zIndex: layer.zIndex //重点1
                , success: function (layero) {
                    layer.btnExcelInDB(layero); //重点2
                }
            });

            $('#layerDemo .layui-btn').on('click', function () {
                var othis = $(this), method = othis.data('method');
                active[method] ? active[method].call(this, othis) : '';
            });
        })
    })

</script>

<script type="text/html" id="checkboxTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="lock" value="{{d.id}}" title="完成" lay-filter="lockDemo" {{ d.id == 10006 ? 'checked' : '' }}>
</script>

<script>
    //数据表单
    layui.use('table', function(){
        var table = layui.table;
        var form = layui.form;
        //第一个实例
        table.render({
            elem: '#data_table'
            ,height: 485
            ,url: '../test/data1.json' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'id', title: 'ID', width:69,fixed: 'left'}
                ,{field: 'order_data', title: '日期', width:80,sort: true}
                ,{field: 'order_number', title: '订单号', width:100, sort: true}
                ,{field: 'customer_name', title: '客户名称', width:200,sort: true}
                ,{field: 'product_model', title: '规格', width: 80, sort: true}
                ,{field: 'color', title: '颜色', width: 80, sort: true}
                ,{field: 'evaluating', title: '评审单号', width: 100,sort: true}
//                ,{field: 'rating', title: '信用等级', width: 100, sort: true}
//                ,{field: 'customer_classtiy', title: '客户类别', width: 100, sort: true}
                ,{field: 'classify', title: '产品类型', width: 100, sort: true}
                ,{field: 'quantity', title: '数量(T)', width: 80, sort: true}
                ,{field: 'price', title: '含税单价', width: 100, sort: true}
                ,{field: 'money', title: '金额(元)', width: 130, sort: true}
                ,{field:'state', title:'状态', width:110, templet: '#checkboxTpl', unresize: true}
                ,{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}
            ]]
        });
//        //监听状态操作
        form.on('checkbox(lockDemo)', function(obj){
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.alert('编辑行：<br>'+ JSON.stringify(data))
            }
        });

        var $ = layui.$, active = {
            getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>

<script>
    //日期范围选择
    layui.use('laydate', function() {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#startDate'
        });
        laydate.render({
            elem: '#endDate'
        });
    });
</script>

</body>
</html>