<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <link rel="stylesheet" href="stylesheets/add_order.css" media="all">
</head>
<body>
<form class="layui-form" action="">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend style="font-size: 16px">订单日期</legend>
    </fieldset>
    <div class="orderDate">
        <div class="layui-input-inline" style="margin-right: 80px">
            <label>接单日期:</label>
            <div class="layui-input-inline">
                <input class="order-date-input" id="orderDate" placeholder="yyyy-mm-dd" type="text" lay-verify="required">
            </div>
        </div>
        <div class="layui-input-inline" style="margin-right: 80px">
            <label>到货日期:</label>
            <div class="layui-input-inline">
                <input class="order-date-input" id="orderSendDate" placeholder="yyyy-mm-dd" type="text" lay-verify="required">
            </div>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend style="font-size: 16px">合同编号</legend>
    </fieldset>
        <div class="orderDate">
            <div class="layui-input-inline" style="margin-right: 80px">
                <label>合同编号:</label>
                <div class="layui-input-inline">
                    <input type="text" name="review_OrderNumber" id="review_OrderNumber" lay-verify="required" placeholder="请输入评审编号" autocomplete="off" class="order-number-input">
                </div>
            </div>
            <div class="layui-input-inline" style="margin-right: 80px">
                <label>评审编号:</label>
                <div class="layui-input-inline">
                    <input type="text" name="order_number" id="order_number" lay-verify="required" placeholder="请输入合同编号" autocomplete="off" class="order-number-input">
                </div>
            </div>
            <div class="layui-input-inline" >
                <label>内部单号:</label>
                <div class="layui-input-inline">
                    <input type="text" name="inside_OrderNumber" id="inside_OrderNumber" lay-verify="required" placeholder="请输入内部编号" autocomplete="off" class="order-number-input">
                </div>
            </div>
        </div>
    <div class="orderDate">
        <div class="layui-input-inline" style="margin-right: 80px">
            <label>含税单价:</label>
            <div class="layui-input-inline">
                <input type="text" name="unit_price" id="unit_price" lay-verify="required" placeholder="￥单价（元）" autocomplete="off" class="order-number-input">
            </div>
        </div>
        <div class="layui-input-inline" style="margin-right: 80px">
            <label>数量 (T）:</label>
            <div class="layui-input-inline">
                <input type="text" name="quantity" id="quantity" lay-verify="required" placeholder="数量（吨）" autocomplete="off" class="order-number-input">
            </div>
        </div>
        <div class="layui-input-inline" >
            <label>订单金额:</label>
            <div class="layui-input-inline">
                <input type="text" name="order_amount" id="order_amount" lay-verify="required" placeholder="￥订单总金额（元）" autocomplete="off" class="order-number-input">
            </div>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend style="font-size: 16px">客户信息</legend>
    </fieldset>
    <div>
        <div class="customerdate">
            <div class="layui-inline" style="margin-right: 80px">
                <label>客户编码:</label>
                <div class="layui-input-inline">
                    <select lay-verify="required" lay-search="" name="customer_number">
                        <option value="">选择或搜索</option>
                        <optgroup label="集团客户">
                            <option value="1">长飞</option>
                            <option value="2">烽火</option>
                            <option value="3">layim</option>
                            <option value="4">element</option>
                            <option value="5">laytpl</option>
                        </optgroup>
                        <optgroup label="非集团客户">
                            <option value="9">flow</option>
                            <option value="10">util</option>
                            <option value="11">code</option>
                            <option value="12">tree</option>
                            <option value="13">layedit</option>
                            <option value="14">nav</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="layui-input-inline">
                <label>客户名称:</label>
                <div class="layui-input-inline">
                    <select name="customer_name" lay-verify="required">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="customerdate">
            <div class="layui-input-inline" style="margin-right: 80px">
                <label>客户类型:</label>
                <div class="layui-input-inline">
                    <select name="" lay-verify="required">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="layui-input-inline">
                <label>信用等级:</label>
                <div class="layui-input-inline">
                    <select name="" lay-verify="required">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="kaipiao">开票信息:</label>
            <div class="">
                <textarea placeholder=" 例子：
 公司名称：湖北科普达高分子材料股份有限公司
 统一社会信用代码：91421127670363521C
 公司地址：湖北黄梅县小池镇沿江路168号
 公司电话：0713-3433606
 开户行及账号：农行黄梅县支行城中分理处
             17-664601040001168" class="kaipiao-text" lay-verify="required"></textarea>
            </div>
        </div>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend style="font-size: 16px">产品信息</legend>
    </fieldset>
    <div class="orderDate">
        <div class="layui-input-inline" style="margin-right: 80px">
            <label>产品编码:</label>
            <div class="layui-input-inline">
                <input type="text" name="" id="product_number" lay-verify="required" placeholder="请输入产品编码" autocomplete="off" class="order-number-input">
            </div>
        </div>
        <div class="layui-input-inline" style="margin-right: 80px">
            <label>产品名称:</label>
            <div class="layui-input-inline">
                <input type="text" name="" id="" lay-verify="required" placeholder="请输入产品名称" autocomplete="off" class="order-number-input">
            </div>
        </div>
        <div class="layui-input-inline" >
            <label>产品牌号:</label>
            <div class="layui-input-inline">
                <input type="text" name="" id="" lay-verify="required" placeholder="请输入产品牌号" autocomplete="off" class="order-number-input">
            </div>
        </div>
    </div>
    <div class="orderDate">
        <div class="layui-input-inline" style="margin-right: 80px">
            <label>产品规格:</label>
            <div class="layui-input-inline">
                <input type="text" name="" id="" lay-verify="required" placeholder="请输入产品规格" autocomplete="off" class="order-number-input">
            </div>
        </div>
        <div class="layui-input-inline" style="margin-right: 80px">
            <label>产品颜色:</label>
            <div class="layui-input-inline">
                <input type="text" name="" id=" " lay-verify="required" placeholder="颜色" autocomplete="off" class="order-number-input">
            </div>
        </div>
        <div class="layui-input-inline" >
            <label>产品参数:</label>
            <div class="layui-input-inline">
                <input type="text" name="" id=" " lay-verify="required" placeholder="产品详细参数" autocomplete="off" class="order-number-input">
            </div>
        </div>
    </div>

    <div class="customerdate">
        <div class="layui-input-inline">
            <label>产品类型:</label>
            <div class="layui-input-inline">
                <div class="danxuankuang">
                    <input type="radio" name="produ_type" value="普料" title="普料">
                    <input type="radio" name="produ_type" value="特料" title="特料">
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item" style="margin-left: 180px">
        <div class="layui-input-block" style="margin-left: 60px">
            <button class="layui-btn" lay-submit="" lay-filter="demo1" style="margin-right: 10px">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="layui/layui.js"></script>
<script src="javascripts/jquery-3.3.1.min.js"></script>
<script src="javascripts/home_layui.js"></script>
</body>
</html>