<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>订单发货管理系统</title>
    <link href="layui/css/layui.css" type="text/css" media="all" rel="stylesheet">
    <link href="stylesheets/home.css" type="text/css" media="all" rel="stylesheet">
    <!--<link rel='stylesheet' href='bootstrap/css/bootstrap.css' />-->
</head>
<body class="layui-layout-body">
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="search">
            <div class="condition-wrapper layui-nav-item">
                <div class="layui-inline">
                    <label class="startDate">起始日期:</label>
                    <div class="layui-input-inline">
                        <input class="input_box" id="startDate" placeholder="yyyy-mm-dd" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="endDate">结束日期:</label>
                    <div class="layui-input-inline">
                        <input class="input_box" id="endDate" placeholder="yyyy-mm-dd" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="customerName">客户名称:</label>
                    <div class="layui-input-inline">
                        <input name="ctl00$content$txtCode" type="text" id="content_txtCode" placeholder="客户名称"  class="input_box1" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="orderNumber">订单号:</label>
                    <div class="layui-input-inline">
                        <input name="ctl00$content$txtCardNo" type="text" id="content_txtCardNo" placeholder="合同编号"  class="input_box1" maxlength="8" onkeyup="value=value.replace(/[^\w\.\/]/ig,&#39;&#39;)" />
                        &nbsp;
                    </div>
                </div>
                &nbsp;
                <input name="ctl00$content$btnFind" type="submit" id="content_btnFind" value="查询" class="btn btn-primary" />
                <button type="button" id="addOrder" class="btn btn-success">新增订单</button>
                <button id="btnExcelInDB" type="button" class="btn btn-info">导入订单</button>
                <button id="btnExcelToDB" type="button" class="btn btn-info" onclick="downloadExl(jsono)">导出订单</button>
                <button id="btnPrint" type="button" value="打印" class="btn btn-info">打印</button>
            </div>
        </div>
        <div>
            <table class="layui-hide" id="order_list" lay-filter="mtable"></table>
        </div>
    </div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="checkboxTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="lock" value="{{d.id}}" title="完成" lay-filter="lockDemo" {{ d.id == 10006 ? 'checked' : '' }}>
</script>

<script src="/layui/layui.js"></script>
<script type="text/javascript" src="/javascripts/home_layui.js" ></script>
<script src="/javascripts/jquery-3.3.1.min.js"></script>
<!--<script src="layer/layer.js"></script>-->
</body>
</html>