.customerDate {
    margin-bottom: 5px;
}
.customer-date-input {
    width:150px;
    height:30px;
    line-height: normal;
    overflow:hidden;
    border-radius:3px;
    border:1px solid #b2b2b2;
    margin-left: 2px;
    margin-right: 15px;
    text-align: center;
}
.customer-number-input {
    width:150PX;
    height:30px;
    line-height: normal;
    overflow:hidden;
    border-radius:3px;
    border:1px solid #b2b2b2;
    margin-left: 2px;
    margin-right: 25px;
    text-align: center;
}
.customer-number-input::-webkit-input-placeholder{
    font-size: 12px;
    line-height: 50px;
}
